
.navigation {
width: 120px;
height: 27px;
}

body {
padding: 0;
margin: 0;
font-family: Microsoft JhengHei, Noto Sans TC, PingFang TC, Apple LiGothic Medium, Roboto, Lucida Grande, Lucida Sans Unicode, sans-serif;
background-color: #EFF4F8;
}

.paragraph {
font-size: 14px;
line-height: 25px;
margin-left: 28px;
margin-right: 27px;
text-align: center;
}

.paragraph2 {
font-size: 15px;
line-height: 25px;
margin-left: 27.5px;
margin-right: 27.5px;
}

.title{
font-size:15px;
font-weight:bold;
color:#454552;
text-align:left;
margin-left:28px;
margin-right:27px;
}

nav {
display: flex;
align-items: center;
background-color: #C9D6DE;

min-height: 100px;
}

.logo {
width: 67.77px;
height: 60px;
align-content: center;
margin: 0 auto;
}

.profile {
width: 45px;
height: 38px;
align-items: center;
}

.related-text {
font-size: 30px;
font-weight: bold;
margin: 30px;
}

.card-flex-box {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card-img {
width: 100%;
margin: 0;
}

.card {
width: 320px;
padding: 20px 27.5px 25px 27.5px;
margin-right: 40px;
margin-bottom: 10px;
}
.card2 {
width: 375px;
padding: 0px 0px 0px 0px;

}
.card2-img {
width: 100%;
margin: 0;

}
.card2-title {
font-size: 18px;
line-height: 21px;
display: flex;
text-align: center;
color: #1E2022;

}
.card3 {
padding: 20px 27.5px 0px 27.5px;


}
.card-title {
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #1E2022;

}

.video-block {
    position: relative;
    padding-bottom: 62%;
}

a{
text-decoration: none;
color: black;
}

@media all and (max-width: 768px) {
.card {
    width: 95%;
    margin-right: 0;
    margin-bottom: 40px;
}

.card-title {
    font-size: 20px;
}

.card-desc {
    font-size: 16px;
}
}


