.navigation {
    width: 120px;
    height: 27px;
}

body {
    padding: 0;
    margin: 0;
    font-family:Roboto, Lucida Grande, Lucida Sans Unicode, sans-serif;
    background-color: #EFF4F8;
}

h1 {
    font-size: 30px;
    color: #454552;
    font-weight: bold;
    line-height: 35px;
}

.paragraph {
    font-size: 24px;
    font-weight: normal;
    color: #454552 ;
    line-height: 28px;
    margin-left: 28px;
    margin-right: 27px;
    position: absolute;
}

.title {
    font-size: 30px;
    font-weight: normal;
    color: #181842;
    line-height: 35px;
    margin-left: 28px;
    margin-right: 27px;
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
    background-color: #C9D6DE;
    min-height: 100px;
}

.logo {
    width: 67.77px;
    height: 60px;
    align-content: center;
    margin: 0 auto;
}


.related-text {
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.card-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.card-img {
    width: 100%;
    margin: 0;
    align-items: center;
}


a{
    text-decoration: none;
    color: black;
}
  
.flex-item {
    width: 100px;
    height: 100px;
    margin: auto;
}

@media all and (min-width: 1024px) {
    .card {
        width: 520px;
        margin-right: 50px;
        margin-bottom: 152px;
    }

    .card2 {
        width: 520px;
        margin-right: 320px;
        margin-left: 320px;
        margin-bottom: 152px;
    }
    
    .card-flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-img {
        width: 100%;
        margin: 0 ;
        justify-content: space-around;
    }

    .paragraph {
        font-size: 45px;
        line-height: 53px;
    }

    .title {
        font-size: 70px;
        line-height: 35px;
    }
    
    .logo{
        width: 115px;
        height:91px;
    }

    .nav{
        display: flex;
        align-items: center;
        background-color: #C9D6DE;
        height: auto;
    }
}
