        .navigation {
            width: 120px;
            height: 27px;
        }

        body {
            padding: 0;
            margin: 0;
            font-family: Microsoft JhengHei, Noto Sans TC, PingFang TC, Apple LiGothic Medium, Roboto, Lucida Grande, Lucida Sans Unicode, sans-serif;
            background-color: #EFF4F8;
        }

        .paragraph {
            font-size: 18px;
            line-height: 21px;
            margin-left: 28px;
            margin-right: 27px;
            text-align: center;
        }

        .blockquote1{
            background-color: rgba(201, 214, 222, 0.5);
            border-width:0 0 0 5px; 
            border-style: solid; 
            border-color:  rgba(69, 69, 82, 0.3); 
            padding: 5 0 5 15px; 
            font-size: 18px;
            color:#454552;
        }

        .profile {
            width: 305px;
            height: 256px;
            margin: 0 auto;
            align-items: center;
            }

        nav {
            display: flex;
            align-items: center;
            background-color: #C9D6DE;
            min-height: 100px;
        }

        .logo {
            width: 67.77px;
            height: 60px;
            align-content: center;
            margin: 0 auto;
        }


        .related-text {
            font-size: 30px;
            font-weight: bold;
            margin: 30px;
        }

        .card-flex-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card-img {
            width: 100%;
            margin: 0;
        }

        .card {
            width: 410px;
            padding: 20px 12px 25px 12px;
            margin-right: 27px;
            margin-left: 28px;
            margin-bottom: 76px;
            position: relative;

        }


        .card-title {
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #1E2022;
            position: absolute;
            
        }

        a{
            text-decoration: none;
            color: black;
        }

        @media all and (min-width: 1024px) {
            .card {
                width: 520px;
                margin-right: 50px;
                margin-bottom: 152px;
            }
            
            .card-flex-box {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .card-title {
                font-size: 20px;
            }

            .card-desc {
                font-size: 16px;
            }

            .paragraph {
                font-size: 40px;
                line-height:47px;
            }
            .profile {
                width: 493px;
                height: 402px;
                }

            .logo{
                width: 115px;
                height:91px;
            }

            .nav{
                display: flex;
                align-items: center;
                background-color: #C9D6DE;
                height: auto;
            }
        }
