        .navigation {
            width: 120px;
            height: 27px;
        }

        body {
            padding: 0;
            margin: 0;
            font-family: Microsoft JhengHei, Noto Sans TC, PingFang TC, Apple LiGothic Medium, Roboto, Lucida Grande, Lucida Sans Unicode, sans-serif;
            background-color: #EFF4F8;
        }

        .paragraph {
            font-size: 15px;
            line-height: 25px;
            margin-left: 28px;
            margin-right: 27px;
            text-align: center;
        }

        nav {
            display: flex;
            align-items: center;
            background-color: #C9D6DE;

            min-height: 100px;
        }

        .logo {
            width: 67.77px;
            height: 60px;
            align-content: center;
            margin: 0 auto;
        }


        .related-text {
            font-size: 30px;
            font-weight: bold;
            margin: 30px;
        }

        .card-flex-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card-img {
            width: 320%;
            margin: 0;
            height: 240px;
            left: 27px;
            top: 1222px;
        }


        a{
            text-decoration: none;
            color: black;
        }

        @media all and (max-width: 768px) {
            .card {
                width: 95%;
                margin-right: 0;
                margin-bottom: 40px;
            }

            .card-title {
                font-size: 20px;
            }

            .card-desc {
                font-size: 16px;
            }
        }
